/* 共通スタイルは外に書く */
.p-about{
  background-color:#F5F5F5;
}

@media screen and (min-width: 796px) { /* pc用スタイル */
  .p-about{
    padding: 100px;
  }
}

@media screen and (max-width: 795px) { /* sp用スタイル */
  .p-about{
    padding: 50px;
  }
}