/* 共通スタイルは外に書く */
.p-article{
  margin-top: 100px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.p-article__item--title{
  margin-top: 30px;
  font-size: 1.4rem;
  transition: all 0.3s linear;
}

.p-article__item--title:hover{
  color: #729edf;
}

.p-article__item--date{
  display: inline-block;
  margin-top: 10px;
  font-size: 1.0rem;
}

.p-article__info{
  margin-top: 40px;
  position: relative;
}

.p-article__info::before{
  position: absolute;
  content: "";
  width: 30%;
  height: 4px;
  background-color: #729edf;
  top: -20px;
  left: 0;
}

.p-article__info--text{
  font-size: 0.8rem;
}

@media screen and (min-width: 796px) { /* pc用スタイル */


}

@media screen and (max-width: 795px) { /* sp用スタイル */


}