/* 共通スタイルは外に書く */
.p-form{
  margin-top: 50px;
  text-align: center;
}

.p-form__title{
  font-size: 1.4rem;
  color: #729edf;
}

.p-form__table{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.p-form__table--input,
.p-form__table--textarea{
  padding: 20px;
  background-color: rgb(114, 158, 223,0.1);
  border: none;
}

.p-form__table--textarea{
  height: 200px;
}

.p-form__table--button{
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #000000;
  transition: all 0.3s linear;
}

.p-form__table--button:hover{
  background-color: #729edf;
  color: #ffffff;
  border: none;
}

@media screen and (min-width: 796px) { /* pc用スタイル */
  .p-form__table--input,
  .p-form__table--textarea{
    width: 40%;
  }

  .p-form__table--button{
    padding: 10px 50px;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 795px) { /* sp用スタイル */
  .p-form__table--input,
  .p-form__table--textarea{
    width: 100%;
  }

  .p-form__table--button{
    padding: 5px 25px;
    font-size: 1.1rem;
  }
}