/* 共通スタイルは外に書く */
.p-hero{
  position: relative;
}

.p-hero__titleBox{
  width: 80%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-hero__titleBox--text{
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.myName{
  color: #729edf;
}

.p-hero__linkBox{
  margin: 0 auto;
  border: 1px solid;
  transition: all 0.3s linear;
}

.p-hero__linkBox:hover{
  background-color: #729edf;
  border: none;
}

.p-hero__linkBox:hover
.p-hero__linkBox--link{
  color: #ffffff;
}

.p-hero__linkBox:hover
.arrow::after{
  background-color: #ffffff;
  transform: rotate(90deg);
}

.p-hero__linkBox:hover
.arrow::before{
  border-color: #ffffff;
  top: -10px;
  transform: rotate(135deg);
}

.p-hero__linkBox--link{
  font-size: 1.2rem;
}

.arrow{
  position: relative;
  display: inline-block;
}

.arrow::before{
  content: "";
  position: absolute;
  top:-15px;
  right: -40px;
  width: 14px;
  height: 14px;
  border-top: 4px solid #333333;
  border-right: 4px solid #333333;
  transform: rotate(45deg);
  transition: all 0.3s linear;
}

.arrow::after{
  content: "";
  position: absolute;
  top:-10px;
  bottom: 0;
  right: -40px;
  width: 20px;
  height: 4px;
  background-color: #333333;
  transition: all 0.3s linear;
}

@media screen and (min-width: 796px) { /* pc用スタイル */
  .p-hero__titleBox{
    padding: 60px;
  }

  .p-hero__titleBox--text{
    font-size: 4.0rem;
  }

  .p-hero__linkBox{
    width: 30%;
    padding: 20px 30px;
  }

  .p-hero__linkBox:hover
  .arrow::before{
    right: -37px;
  }
}

@media screen and (max-width: 795px) { /* sp用スタイル */
  .p-hero__titleBox{
    padding: 30px;
  }

  .p-hero__titleBox--text{
    font-size: 2.5rem;
  }

  .p-hero__linkBox{
    width: 70%;
    padding: 10px 20px;
  }

  .arrow::before{
    right: -30px;
  }
  
  .arrow::after{
    right: -30px;
  }

  .p-hero__linkBox:hover
  .arrow::before{
    right: -27px;
  }
}