/* 共通スタイルは外に書く */
.p-intro{
  text-align: center;
}

.p-intro__img{
  width: 200px;
  margin: 0 auto;
	clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.p-intro__title{
  margin-top: 30px;
  font-size: 1.5rem;
}

.p-intro__text{
  margin-top: 10px;
  font-size: 1.0rem;
}

@media screen and (min-width: 796px) { /* pc用スタイル */
  .p-intro{
    width: 50%;
  }

}

@media screen and (max-width: 795px) { /* sp用スタイル */
  .p-intro{
    width: 100%;
  }
}