/* 共通スタイルは外に書く */
.p-menuBox{
  display: flex;
  gap: 40px;
}

.p-menuBox__list--link{
  font-size: 1.0rem;
  color: #ffffff;
}
@media screen and (min-width: 796px) { /* pc用スタイル */


}

@media screen and (max-width: 795px) { /* sp用スタイル */


}