/* 共通スタイルは外に書く */
.p-skill__bar{
  background-color: #EEEEEE;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.p-skill__bar:not(:first-of-type){
  margin-top: 20px;
}

.p-skill__title{
  color: #ffffff;
  text-align: center;
  font-size: 0.8rem;
  padding: 8px;
  width: 20%;
  background-color: #729EDF;
}

.p-skill__fill{
  height: 100%;
  background-color: #aed1d2;
  position: absolute;
  top: 0;
  left:20%;
}

.html,.css{
  width: 65%;
}

.javascript,.php{
  width: 50%;
}

.java,.laravel,.react,.node{
  width: 35%;
}

.figma{
  width: 40%;
}

.p-skill__percentage{
  font-size: 0.8rem;
  margin-right: 20px;
}

@media screen and (min-width: 796px) { /* pc用スタイル */
  .p-skill{
    width: 50%;
  }

  .p-skill__bar{
    width: 80%;
  }
}

@media screen and (max-width: 795px) { /* sp用スタイル */
  .p-skill,.p-skill__bar{
    width: 100%;
  }

  .p-skill__bar{
    margin-top: 30px;
  }
}