/* 共通スタイルは外に書く */

.p-strength{
  margin-top: 100px;
  display: flex;
  gap: 30px;
}

.p-strength__content{
  text-align: center;
}

.p-strength__content--icon{
  width: 100%;
}

.p-strength__content--icon i {
  font-size: 5.0rem;
  color: #729EDF;
}

.p-strength__content--title{
  margin-top: 40px;
  font-size: 1.6rem;
}

.p-strength__content--text{
  margin-top: 20px;
  font-size: 1.2rem;
}

@media screen and (min-width: 796px) { /* pc用スタイル */


}

@media screen and (max-width: 795px) { /* sp用スタイル */


}